@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-poppins:"Poppins";
$color-1:#3A4A61;
$color-2:#1D3861;
$color-3:#8AAEE6;
$color-4:#4382E0;
$color-5:#3465AD;


html {
    scroll-behavior: smooth;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: $font-poppins;
}

.navbar-container {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 5rem;
    background-color: #3a4a61c7;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 5rem;
    }

    .container-navbar {
        .bi-list {
            display: none;
        }

        .navbar {
            display: flex;
            align-items: center;
            gap: 4rem;

            a,
            i {
                display: block;
                cursor: pointer;
                color: #fff;
                text-decoration: none;
            }

            .bi-x-circle-fill {
                display: none;
            }

        }
    }
}

.container-header-wrapper {
    background-color: #000;
    position: relative;
    width: 100%;
    min-height: 60rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .2;
        object-fit: cover;
        filter: blur(5px);
        animation: animation-header-img 8s infinite linear;
    }

    @keyframes animation-header-img {
        from {
            transform: scale(1.8);
        }

        to {
            transform: scale(1);
        }
    }

    .description-header {
        z-index: 1;
        margin-left: 5rem;
        color: #fff;
        font-size: 1.5rem;

        a {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            width: 15rem;
            margin-top: 2rem;
            gap: 2rem;
            background-color: $color-4;
            border-radius: 2rem;
            font-size: 1rem;
        }
    }
}

.container-main {
    height: auto;
    width: 100%;
    overflow: hidden;


    .container-sobremim-wrapper {
        min-height: 60rem;
        width: 100%;
        background-color: $color-5;
        transition: all 1s ease;

        &.dark {
            background-color: #000;
        }

        .title-sobremim {
            text-align: center;
            color: #fff;
            font-size: 3rem;
        }

        .container-sobremim {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 10rem;

            .group-sobremim {
                display: flex;
                flex-direction: column;
                color: #fff;
                gap: .5rem;
                font-size: 1.5rem;
                width: 50%;

                a {
                    display: block;
                    text-decoration: none;
                    background-color: $color-2;
                    padding: 1rem;
                    width: 18rem;
                    border-radius: .4rem;
                    color: #fff;
                    margin-top: 5rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    transition: all .4s ease;

                    &:hover {
                        background-color: #fff;
                        color: $color-5;
                    }
                }

                img {
                    width: 25rem;
                    margin-left: 5rem;
                }


            }
        }
    }

    .container-compras-wrapper {
        background-color: $color-5;
        color: #fff;
        min-height: 60rem;
        width: 100%;
        transition: all 1s ease;

        &.dark {
            background-color: #000;
        }

        .title-compras {
            text-align: center;
            font-size: 3rem;
        }

        .container-compras {
            margin-top: 10rem;
            display: flex;
            width: 100%;
            align-items: center;
            height: 100%;
            justify-content: center;

            .card-wrapper {
                flex-wrap: wrap;
                display: flex;
                height: 100%;
                align-items: center;
                width: 100%;
                justify-content: space-around;
                gap: 1rem;

                .card {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    gap: 2rem;
                    flex-direction: column;
                    width: 35rem;
                    height: 20rem;
                    background-color: $color-3;
                    border-radius: .4rem;

                    .img-card {
                        img {
                            width: 80px;
                        }
                    }

                    button {
                        position: absolute;
                        bottom: .1rem;
                        left: .1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        border: none;
                        padding: 1rem;
                        background-color: $color-5;
                        color: #fff;
                        margin-top: 2rem;
                        cursor: pointer;
                        border-radius: .4rem;
                        transition: all .4s ease;

                        &:hover {
                            background-color: #fff;
                            color: $color-5;
                            border: solid 1px $color-5;
                        }
                    }
                }

            }
        }


    }


}

.container-carrinhoCompras-wrapper {
    position: fixed;
    top: 0;
    width: 90%;
    right: -200rem;
    display: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: $color-4;
    z-index: 3;
    transition: all 1s ease;

    &.carrinhoVisible {
        display: block;
        right: 0;
    }

    .title-carrinhoCompras {
        font-size: 3rem;
        text-align: center;
    }

    .closed-car {
        position: absolute;
        right: 5rem;
        top: 1rem;

        cursor: pointer;

        i {
            font-size: 2rem;
        }
    }

    .container-carrinhoCompras {
        margin-top: 4rem;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .table-car {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
            width: 90%;

            thead {
                text-align: center;
                width: 100%;

                tr {
                    margin-left: 8rem;

                    td {
                        text-shadow: 1px 1px 1px #000;
                        margin: 1rem;
                        position: relative;
                        font-size: 2rem;
                    }
                }
            }

            tbody {
                overflow: auto;

                tr {
                    border-bottom: solid 1px #fff;

                    .qtd-input {
                        border-radius: .4rem;
                        padding: 1rem;
                        border: none;
                        outline: none;
                        width: 5rem;
                    }

                    .remove-item {
                        border: none;
                        padding: 1rem;
                        background-color: $color-3;
                        border-radius: .4rem;
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }

            tr {
                display: flex;
                gap: 8rem;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }


    .totalandBtnFinish {
        position: absolute;
        top: 0;
        left: 3rem;

        .finallyCompras {
            border: none;
            padding: 1rem;
            background-color: $color-2;
            color: #fff;
            border-radius: .4rem;
            transition: all .4s ease;

            &:hover {
                background-color: #fff;
                color: $color-2;
                border: solid 1px $color-2;
            }
        }
    }


}

.container-contato-wrapper {
    width: 100%;
    min-height: 60rem;
    background-color: $color-5;
    color: #fff;
    transition: all 1s ease;

    &.dark {
        background-color: #000;
    }

    .title-contato {
        font-size: 3rem;
        text-align: center;

    }

    .container-contato {
        display: flex;
        justify-content: space-around;
        margin-top: 10rem;

        .group-contato {
            display: flex;
            flex-direction: column;
            justify-content: center;



            &:nth-child(1) {
                font-size: 2rem;
                text-align: center;
                gap: 2rem;

                .group-info-contato {
                    border-bottom: solid 2px #fff;
                }
            }

            &:nth-child(2) {
                .group-input-form {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    gap: 1rem;

                    .btn-enviarForm {
                        border: none;
                        background-color: $color-2;
                        color: #fff;
                        width: 15rem;
                        padding: 1rem;
                        border-radius: .4rem;
                        cursor: pointer;
                        transition: all .4s ease;

                        &:hover {
                            background-color: #fff;
                            color: $color-2;
                        }
                    }

                    input {
                        margin: 1rem;
                        width: 30rem;
                        padding: 2rem;
                        border: none;
                        border-radius: .4rem;
                        outline: none;
                    }

                    label {
                        position: absolute;
                        top: 1rem;
                        left: 2rem;
                        color: #000;
                    }
                }
            }
        }
    }
}


.container-footer-wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 30rem;
    background-color: $color-1;
    color: #fff;

    transition: all 1s ease;

    &.dark {
        background-color: #000;
    }

    .title-footer {
        margin-left: 20rem;
    }

    .container-footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3rem;

        .group-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            a {
                display: block;
                background-color: $color-4;
                padding: 1rem;
                border-radius: .4rem;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}




@media(max-width:1140px) {
    .container-sobremim-wrapper {
        .container-sobremim {
            flex-direction: column;
        }
    }

    .container-contato-wrapper {
        .container-contato {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;

            .btn-enviarForm {
                margin-bottom: 1rem;
            }
        }
    }

    .container-footer-wrapper {
        height: 40rem;

        .container-footer {
            flex-direction: column;
            gap: 1rem;

            .group-footer {
                flex-direction: column;
            }
        }
    }
}

@media(max-width:900px){
    .container-carrinhoCompras-wrapper{
        .title-carrinhoCompras{
            font-size: 15px;
        }
        .totalandBtnFinish{
            position: absolute;
            top: 2rem;
            
            
            h1{
                font-size: 15px;
            }
            
            button{
                 width: 100%;
                 font-size: 10px;
                 padding: .4rem;
            }

            
        }
        .container-carrinhoCompras{
    
            .table-car{
                width: 90%; 
                display: flex;
                flex-direction: column;

                thead{
                    display: none;

                }

                .container-body-table{
                    display: flex;
                    flex-direction: column;
                    height: 40rem;
                    width: 100%;
                    gap: 1rem;
                    margin-top: 1.5rem;
                    overflow-y: auto;

                    tr{
                        border-radius: 1rem;
                        background-color: $color-2;
                        padding: 1rem;
                        display: flex;
                        border: none;
                        flex-direction: column;
                        margin: 0;
                        gap: 10px;
                    }
                }
            }
        }
    }
}


@media(max-width:750px) {

    .navbar-container {
        .container-navbar {
            .bi-list {
                display: block;
                color: #fff;
                font-size: 2.5rem;
                cursor: pointer;
            }

            .navbar {
                position: absolute;
                flex-direction: column;
                background-color: #3465AD;
                width: 0;
                left: -500rem;
                height: 0vh;
                top: 0;
                z-index: 2;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: all .4s ease;

                &.menuVisible {
                    width: 100%;
                    height: 100vh;
                    left: 0;
                }

                .bi-x-circle-fill {
                    display: block;
                    position: absolute;
                    top: 2rem;
                    font-size: 2rem;
                    cursor: pointer;
                    right: 2rem;
                }

            }
        }
    }

    .container-header-wrapper {
        .description-header {
            font-size: 1rem;

            a {
                width: 50%;
            }
        }
    }

    .container-sobremim-wrapper {
        width: 100%;
        background-color: #000000;

        .container-sobremim {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 10px;

            .group-sobremim:nth-child(1){
                margin-left: -11rem;

                img{
                    width: 12rem;
                }
            }

            .group-sobremim:nth-child(2){
                font-size: 15px;

                a{
                    width: 100%;
                }
            }

        }
    }

    .container-contato-wrapper {
        .container-contato {
            width: 100%;

            .group-contato {
                width: 90%;

                .group-info-contato {
                    width: 100%;
                    font-size: 1rem;
                }

               
                    .group-input-form {
                        width: 100%;
                        overflow: hidden;
                    }
               

            }
        }
    }

    .container-footer-wrapper{
        .title-footer{
            margin-left: 1rem;
        }
    }
}


@media(max-width:570px){
    .container-compras-wrapper{
        .container-compras{
            .card-wrapper{
                .card{
                    width: 90%;
                }
            }
        }
    }
}

@media(max-width:440px){
    .container-header-wrapper{
        .description-header{
            font-size: 15px;
            margin-left: 1rem;

            a{
                font-size: 10px;
            }
        }
    }
}